@import '../../variables.scss';

nav {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

nav ul li a.router-link-active,
nav ul li a:hover {
  background-color: $accent-color;
}